* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: fixed;

    .header_card2 {
        ul {
            display: flex;
            list-style: none;
            color: #FFFFFF;



            li {
                margin: 18px;
                font-size: 18px;
            }

        }
    }

    .header_card3 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: bold;
    }

    .header_card4 {
        display: none;
    }
}

// meadia_header
@media (max-width:400px) {
    .header {
        .header_card1 {
            .logo {
                width: 70%;
                height: 10vh;
            }
        }

        .header_card2 {
            display: none;
        }

        .header_card3 {
            display: none;
        }

        .header_card4 {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: rgb(49, 45, 45);
            display: inline-block;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


// section1
.section1 {
    width: 100%;
    height: 100vh;
    background-image: url("/img/img1.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section1_title {
        width: 80%;
        font-size: 66px;
        text-align: center;
        letter-spacing: 2px;
        font-family: serif;
        color: white;
    }

    .section1_txt {
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btns_section1 {
        margin-top: 60px;

        .section1_btn1 {
            width: 150px;
            height: 50px;
            background-color: #FFFFFF;
            color: black;
            border: none;
        }

        .section1_btn2 {
            width: 150px;
            height: 50px;
            background-color: transparent;
            color: #FFFFFF;
            border: none;
        }
    }
}

@media (max-width:400px) {
    .section1 {
        width: 100%;
        height: 80vh;
        background-position: center;
        background-size: cover;
        background-image: url("/img/img1.svg");

        .section1_title {
            font-size: 22px;
            line-height: 25px;
        }

        .section1_txt {
            font-size: 14px;
            text-align: center;
        }

        .section1_btn2 {
            display: none;
        }
    }
}


// section2
.section2 {
    background-image: url("/img/Rectangle\ 62\ \(1\).svg");
    background-color: rgb(64, 60, 60);
    height: 165vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width:400px) {
        height: 300vh;
    }

    .section2_top {
        display: flex;

        .section2_top_left {
            width: 50%;
            height: 70vh;
            border: 1px solid red;

            .iphone {
                width: 100%;
                height: 70vh;
            }
        }



        .section2_top_right {
            width: 50%;
            height: 70vh;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 36px;
                letter-spacing: 5px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }

            .section2_top_right_p1 {
                width: 60%;
                font-size: 18px;
                line-height: 26px;
                color: #FFFFFF;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            .section2_top_right_p2 {
                width: 60%;
                font-size: 16px;
                color: grey;
                font-size: 18px;
            }
        }
    }

    @media (max-width:400px) {
        .section2_top {
            display: flex;
            flex-direction: column-reverse;

            .section2_top_left {
                width: 100%;
            }

            .section2_top_right {
                width: 100%;

                h2 {
                    font-size: 18px;
                }
            }

        }
    }

    // section2_bottom
    .section2_bottom {
        display: flex;

        .section2_bottom_left {
            width: 50%;
            height: 70vh;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .section2_bottom_left_p1 {
                width: 90%;
                font-size: 26px;
                color: #FFFFFF;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            .section2_bottom_left_p2 {
                width: 85%;
                font-size: 18px;
                color: grey;
                line-height: 25px;
                letter-spacing: 2px;
            }

            .section2_bottom_left_p3 {
                width: 85%;
                font-size: 18px;
                color: grey;
                line-height: 25px;
                letter-spacing: 2px;
            }

            .section2_bottom_left_p4 {
                width: 85%;
                font-size: 18px;
                color: grey;
                line-height: 25px;
                letter-spacing: 2px;
            }

            .section2_bottom_right_btns {
                .section2_bottom_right_btn1 {
                    width: 150px;
                    height: 55px;
                    color: #FFFFFF;
                    background-color: rgb(139, 126, 126);
                    border-radius: 12px;
                    border: 1px solid white;
                    font-size: 18px;
                }

                .section2_bottom_right_btn2 {
                    width: 150px;
                    height: 55px;
                    color: #FFFFFF;
                    background-color: transparent;
                    border-radius: 12px;
                    font-size: 18px;
                    border: none;
                }
            }

        }

        .section2_bottom_right {
            width: 50%;
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid red;


        }

    }

    @media (max-width:400px) {
        .section2_bottom {
            display: flex;
            flex-direction: column;

            .section2_bottom_left {
                width: 100%;

                .section2_bottom_left_p1 {
                    font-size: 20px;
                }

                .section2_bottom_right_btns {
                    .section2_bottom_right_btn1 {
                        width: 200px;
                    }

                    .section2_bottom_right_btn2 {
                        display: none;
                    }
                }
            }


            .section2_bottom_right {
                width: 100%;

                .imgMacBook {
                    width: 100%;
                }
            }
        }
    }
}


// section3
.section3 {
    width: 100%;
    height: 120vh;
    border: 1px solid red;
    background-image: url("/img/section3.svg");
    background-size: cover;
    background-color: rgba(7, 7, 7, 0.512);
}

// section4
.section4 {
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    background-image: url("/img/section4.svg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);

    .section4_title {
        font-size: 46px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;
        color: white;
    }

    .section4_card {
        width: 80%;
        height: 60vh;
        border: 1px solid red;
        display: flex;
        background-color: rgba(7, 7, 7, 0.512);
        border-radius: 20px;

        .section4_card_left {
            width: 50%;
            height: 60vh;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            .section4_card_btn2 {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                border: none;
                background-color: #2BE3A0;
                font-size: 18px;
            }

            .section4_card_btn1 {
                @extend .section4_card_btn2
            }
        }

        .section4_card_right {
            width: 50%;
            height: 60vh;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-items: center;
            text-align: start;

            .section4_card_right_p1 {
                color: white;
                font-size: 22px;
                width: 90%;
            }

            .section4_card_right_p2 {
                text-align: start;
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            .section4_card_right_p3 {
                color: #767373;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }


}

@media (max-width:400px) {
    .section4 {
        height: 200vh;

        .section4_title {
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .section4_card {
            width: 95%;
            height: 140vh;
            display: flex;
            flex-direction: column;

            .section4_card_left {
                width: 100%;
                height: 70vh;

                .section4_card_btns {
                    display: none;
                }
            }

            .section4_card_right {
                width: 100%;
                height: 70vh;

                .section4_card_right_p1 {
                    font-size: 16px;
                }
            }
        }
    }
}

// section5
.section5 {
    width: 100%;
    height: 100vh;
    background-image: url("/img/section5_bg.svg");
    background-color: #0000007a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .section5_title {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;
        font-size: 48px;
    }


    .section5_card {
        width: 100%;
        display: flex;
        height: 70vh;
        border: 1px solid red;

        .section5_card_left {
            width: 50%;
            height: 70vh;
            border: 2px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .section5_card_right {
            width: 50%;
            height: 70vh;
            border: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .section5_card_right_inner {
                width: 100%;
                height: 30vh;
                border: 2px solid green;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                p {
                    width: 55%;
                    color: white;
                    font-size: 20px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }
        }
    }
}


@media (max-width:400px) {
    .section5 {
        width: 100%;
        height: 120vh;

        .section5_title {
            font-size: 22px;
        }

        .section5_card {
            display: flex;
            flex-direction: column-reverse;

            .section5_card_left {
                width: 100%;

                .audi {
                    width: 100%;
                }
            }

            .section5_card_right {
                width: 100%;
                height: 80vh;

                .section5_card_right_inner {
                    P {
                        width: 100%;
                        font-size: 18px;
                    }
                }

                .section5_card_right_imgs {
                    .google {
                        display: none;
                    }
                }
            }
        }
    }
}


// section6
.section6 {
    width: 100%;
    height: 50vh;
    border: 1px solid red;
    background-image: url("/img/section6.svg");
    background-color: #05030399;
    background-size: cover;
    display: flex;

    .section6_left {
        width: 50%;
        height: 50vh;
        border: 2px solid rebeccapurple;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .section6_left_p1 {
            width: 80%;
            color: white;
            font-size: 28px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            line-height: 45px;
        }

        .section6_left_p2 {
            font-size: 18px;
            color: rgb(94, 90, 90);
        }
    }

    .section6_right {
        width: 50%;
        height: 50vh;
        border: 1px solid rebeccapurple;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .section6_right_inputName {
            width: 320px;
            height: 40px;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.531);
            outline: none;
            border: none;
            color: white;
        }

        .section6_right_inputphone {
            width: 320px;
            height: 40px;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.531);
            outline: none;
            border: none;
            color: white;
        }

        .section6_right_btn {
            width: 320px;
            height: 40px;
            background-color: white;
            color: black;
            border: none;
        }
    }
}

@media (max-width:400px) {
    .section6 {
        display: flex;
        flex-direction: column;
        height: 70vh;

        .section6_left {
            width: 100%;

            .section6_left_p1 {
                font-size: 18px;
            }

            .section6_left_p2 {
                font-size: 18px;
            }
        }

        .section6_right {
            width: 100%;
        }
    }

}

// section7
.section7 {
    width: 100%;
    height: 20vh;
    border: 1px solid red;
    background-image: url("/img/section7.svg");
    background-size: cover;
    background-color: #00000085;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 36px;
        letter-spacing: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }
}

@media (max-width:400px) {
    .section7 {
        height: 25vh;

        p {
            width: 80%;
            font-size: 28px;
            text-align: center;
        }
    }
}